<h1>Add a New Trip</h1>

<form method="POST" action="/trips/create">
Trip Name:<br/>
<input type="text" name="trip_name"/><br/>
Year:<br/>
<input type="text" name="trip_year"/><br/>
Description:<br/>
<input type="text" name="description"><br><br>
<input type="submit" value="Submit">
</form>